@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

#main_title {
  font-family: "New Amsterdam";
  color: black;
  font-size: 80px;
  margin-top: 100px;
  margin-bottom: 160px;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
}

@media (width < 750px) {
  #main_title {
    font-size: 60px;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.292);
  }
}

@media (width < 450px) {
  #main_title {
    font-size: 40px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.147);
    margin-bottom: 80px;
  }
}
